.center{
  width: 80%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@media (min-width: 600px) {
  .center {
      width: 60%;
  }
}

@media (min-width: 1100px) {
  .center {
      width: 60%;
  }
}

@media (min-width: 2200px) {
  .center {
      width: 50%;
  }
}
