.navbar {
    margin-bottom:0px;
}

.sidebar {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}


@media (min-width: 600px) {
  .sidebar {
      width: 30%;
  }
}


.sidebar-pane {
  float:left;
  width: calc(100% - 30px);
  background:white;
  height:100%;
  overflow-y:scroll;
  -webkit-box-shadow: 1px 1px 4px #888888;
          box-shadow: 1px 1px 4px #888888;
}
.sidebar-btn {
  width:20px;
  margin-top:40px;
  background:white;
  display:inline-block;
  border: 1px solid #cccccc;
  border-radius: 0px 4px 4px 0px;
  -webkit-box-shadow: 1px 1px 4px #888888;
          box-shadow: 1px 1px 4px #888888;
}
.nowidth {
  width:0%;
}

.hidden {
  display:none
}


.resultlist{
  position:relative;
  margin:10px;
}
.result{
    margin-top:20px;
    margin-bottom:20px;
}
.map {
    height:90vh;
    z-index:1
}
.star {
    font-size: x-large;
    display: inline-block;
    width: 30px;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.yellow {
  color: #ffbf00;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: #ffbf00;
}
.star.half:after {
    content:'\2605';
    color: #ffbf00;
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
}
.footer {
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding:15px;
    z-index:2
}

.footericon{
    position:relative;
    display:block;
    margin-top:5px;
}
.center{
  width: 80%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@media (min-width: 600px) {
  .center {
      width: 60%;
  }
}

@media (min-width: 1100px) {
  .center {
      width: 60%;
  }
}

@media (min-width: 2200px) {
  .center {
      width: 50%;
  }
}
