
.resultlist{
  position:relative;
  margin-top:60px;
  margin-left:10px;
}
.result{
    margin-top:20px;
    margin-bottom:20px;  
}
.map {
    height:90vh;
    z-index:1
}
.star {
    font-size: x-large;
    display: inline-block;
    width: 30px;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.yellow {
  color: #ffbf00;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: #ffbf00;
}
.star.half:after {
    content:'\2605';
    color: #ffbf00;
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
}
.footer {
    position:fixed;
    bottom:0;
    right:0;
    text-align: right;
    padding:15px;
    z-index:2
}

.footericon{
    position:relative;
    display:block;
    margin-top:5px;
}
